* {
  margin: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
}

.page {
  background-color: #2c2b3d;
  padding: 72px 96px 0;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 101px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 64px;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
}

nav ul a:hover {
  font-weight: 700;
  color: #b4b4b4;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section h1 {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 59px;
}

section h1 span {
  color: #00bfa6;
}

section p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #c2c2c2;
}

section p span {
  color: #00bfa6;
  font-weight: bold;
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

#line {
  border: 1px solid #00bfa6;
  width: 568px;
  margin: 157px auto 27px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
